.question-main {
  display: flex;
  flex-direction: column;
  padding: 1em 3em 1em 1em;
  height: 100%;
  background-color: var(--light);
}

.question-main h2 {
  color: #2c2c2c;
  font-weight: 500;
}

.question-counter {
  font-size: 1.1em;
}

.answer-item {
  padding: 1em 0;
}

.go-back {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.go-back:focus {
  outline: none;
}

.answerform {
  max-width: 50%;
  padding: 1em;
}

.answerform button {
  background-color: var(--dark);
  color: white;
  padding: 0.5em;
}

.answerform div {
  padding: 1em 0;
  display: flex;
  justify-content: flex-end;
}

h3 {
  font-weight: normal;
}
