.votes {
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes img {
  width: 2em;
  height: 2em;
}

.vote-counter {
  border: none;
  width: 20px;
  text-align: center;
  background-color: transparent;
}

.voting-button {
  border: solid lightgray 1px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  width: 2em;
  height: 2em;
}

.voting-button:focus {
  border: solid var(--dark) 1px;
  border-radius: 50%;
  background-color: var(--main-light);
  outline: none;
}

.voting-button:hover {
  border: solid var(--main) 1px;
}

.details {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
  padding-top: 1em;
}

.description {
  padding-bottom: 1em;
}

.description img {
  width: 2em;
  height: 2em;
}

.posting-info {
  display: flex;
  justify-content: end;
  padding-top: 0.5em;
}

.questioner-info {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: var(--main-light);
}

.answerer-info {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: #efefef;
}

.comment {
  padding: 0.5em;
}

.add-comment {
  padding: 0.5em 0 1em 0;
}

.add-comment input {
  font-size: 1em;
  border: 1px solid var(--main);
}

.add-comment input:focus {
  outline: none;
  border: 1px solid var(--dark);
}

.add-comment .add-comment-button {
  font-weight: normal;
  color: #868686;
}

.add-comment .cancel-button {
  font-weight: normal;
  font-size: 0.8em;
  color: #868686;
}

.add-comment:hover {
  color: var(--main);
  cursor: pointer;
}

.save-button {
  margin-left: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: var(--dark);
}

.comment-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
}
